<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        .toolbardemoScrollShrink .face {
            width: 48px;
            margin: 16px;
            border-radius: 48px;
            border: 1px solid #ddd;
        }
    </style>
</head>
<body>
    <div ng-app="MyApp" class="toolbardemoScrollShrink" ng-controller="AppCtrl"
         layout="column" style="height:600px" ng-cloak="">
        <md-toolbar md-scroll-shrink="" ng-if="true" ng-controller="TitleController">
            <div class="md-toolbar-tools">
                <h3>
                    <span>{{title}}</span>
                </h3>
            </div>
        </md-toolbar>
        <md-content flex="">
            @RenderBody()
        </md-content>
    </div>
    @*<div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>*@

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.js"></script>

    <!-- Angular Material Library -->
    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.js"></script>
   
    <script type="text/javascript">
        var app = angular.module('MyApp', ['ngMaterial', 'ngMessages']);

        app.controller('TitleController', function ($scope) {
            $scope.title = 'My App Title';
        });

        app.controller('AppCtrl', function ($scope) {
            var imagePath = 'img/list/60.jpeg';

            $scope.todos = [];
            for (var i = 0; i < 15; i++) {
                $scope.todos.push({
                    face: imagePath,
                    what: "Brunch this weekend?",
                    who: "Min Li Chan",
                    notes: "I'll be in your neighborhood doing errands."
                });
            }
        });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
